.result {
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;

  &__title {
    margin-top: 20px;
    font-family: $title-font;
  }

  &__related-tags {
    margin-top: 20px;
    max-width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
    display: flex;
  }

  .realted-tags-fadeout-effect {
    position: absolute;
    right: 0;
    width: 80px;
    height: 100%;
    z-index: 10;
    box-shadow: -50px 0 37px rgba(whitesmoke, 0.8) inset;
    -webkit-box-shadow: -50px 0 37px rgba(whitesmoke, 0.8) inset;
    -moz-box-shadow: -50px 0 37px rgba(whitesmoke, 0.8) inset;
  }

  &__related-tags-tag {
    margin: 0 5px;
    border-radius: 5px;
    min-width: 150px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    transition: $hover-link-transition;

    &:hover {
      color: $hover-link-color;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
