$default-font: "Montserrat", sans-serif;
$title-font: "Lato", sans-serif;
$hover-link-color: #ccc;
$hover-link-transition: color 0.2s ease;

html {
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $default-font;
  font-weight: 600;
}

a {
  color: white;
  transition: $hover-link-transition;

  &:hover {
    color: $hover-link-color;
  }
}

input,
label {
  border: none;
  outline: none;
}

h1 {
  font-size: 46px;

  @media (min-width: 768px) {
    font-size: 56px;
  }
}

h2 {
  font-size: 50px;

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

// h3 {
//   font-size: 22px;

//   @media (min-width: 768px) {
//     font-size: 32px;
//   }
// }

// * {
//   font-size: 18px;

//   @media (min-width: 768px) {
//     font-size: 22px;
//   }
// }

::-webkit-scrollbar {
  background-color: #ebebeb;
  border-radius: 0 3px 3px 0;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

@import "../components/Home/home.scss";
@import "../components/Search/search.scss";
@import "../components/Result/result.scss";
@import "../components/Images/images.scss";
@import "../components/ImageModal/image-modal.scss";
