$default-font: "Montserrat", sans-serif;
$title-font: "Lato", sans-serif;
$input-color-result: #e2e2e2;
$option-color: #4d4c4c;

html {
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $default-font;
  font-weight: 600;
}

a {
  color: white;
  transition: color 0.1s ease;

  &:hover {
    color: #ccc;
  }
}

input,
label {
  border: none;
  outline: none;
}

h1 {
  font-size: 46px;

  @media (min-width: 768px) {
    font-size: 56px;
  }
}

h2 {
  font-size: 50px;

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

// h3 {
//   font-size: 22px;

//   @media (min-width: 768px) {
//     font-size: 32px;
//   }
// }

* {
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 22px;
  }
}

::-webkit-scrollbar {
  background-color: #ebebeb;
  border-radius: 0 3px 3px 0;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

.home {
  min-width: 100vw;
  min-height: 100vh;
  background: url("../pictures/lagoon.jpg") no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  &__wrapper {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 3px;
    margin: 0% 5% 250px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__aside {
    margin-bottom: 20px;
  }

  &__trendings {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
  }

  &__trending {
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px;
  }

  @media (min-width: 768px) {
    &__wrapper {
      margin: 0 0 300px 0;
      width: 700px;
      background-color: transparent;
    }
  }

  @media (min-width: 1440px) {
    &__wrapper {
      width: 1000px;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    &--result {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 80%;
      padding-top: 20px;
    }
  }

  &__form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    &--result {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
    }
  }

  &__search-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    color: #5f5f5f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 0 0 3px;

    &--result {
      width: 40px;
      height: 40px;
      background-color: $input-color-result;
      color: #5f5f5f;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 45% 0 0 45%;
    }
  }

  &__search-input {
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 10px;
    font-size: 16px;

    &--result {
      width: 100%;
      height: 40px;
      padding: 10px 0 10px 10px;
      border-radius: 0 28px 28px 0;
      font-size: 16px;
      background-color: $input-color-result;
    }
  }

  &__search-erase {
    width: 50px;
    height: 50px;
    color: #5f5f5f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 0 0 3px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    &--result {
      color: #5f5f5f;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      border-radius: 0 45% 45% 0;
      bottom: 0;
    }
  }

  .found-images,
  .found-images--result {
    margin-top: 5px;
    background-color: white;
    color: black;
    position: absolute;
    top: 50px;
    width: 100%;
    border-radius: 3px;
    max-height: 250px;
    overflow: auto;
    z-index: 200;

    &--result {
      top: 60px;
      background-color: $input-color-result;
      border-radius: 10px;

      &::-webkit-scrollbar {
        background-color: #ebebeb;
        border-radius: 0 10px 10px 0;
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 5px;
      }
    }

    &__image,
    &__image--result {
      padding: 20px 25px;
      font-size: 15px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #ececec;
      }
    }

    &__error,
    &__error--result {
      margin: auto;
      padding: 0 15px;
    }
  }

  @media (min-width: 768px) {
    &__form--result {
      width: 50%;
    }
  }

  @media (min-width: 1440px) {
    &__form--result {
      width: 700px;
    }
  }
}

.result {
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;

  &__title {
    margin-top: 20px;
    font-family: $title-font;
  }

  &__related-tags {
    margin-top: 20px;
    max-width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
    display: flex;
  }

  .realted-tags-fadeout-effect {
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    z-index: 10;
    box-shadow: -50px 0 37px rgba(whitesmoke, 0.8) inset;
    -webkit-box-shadow: -50px 0 37px rgba(whitesmoke, 0.8) inset;
    -moz-box-shadow: -50px 0 37px rgba(whitesmoke, 0.8) inset;
  }

  &__related-tags-tag {
    margin: 0 5px;
    border-radius: 5px;
    min-width: 150px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }
  }
}

.images {
  columns: 1;
  margin: 40px 0;

  .image {
    width: 100%;
    overflow: hidden;
    break-inside: avoid;
    margin: 40px 0;
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }

    &__picture {
      width: 100%;
    }

    &__title {
      margin-top: 10px;
      font-size: 18px;
    }

    &__tags {
      margin-top: 15px;
      width: 100%;
    }

    &__tag {
      margin: 0 10px;
      padding: 5px 15px;
      font-size: 14px;
      background-color: #d6d6d6;
      color: #4b4b4b;
      border-radius: 3px;
      white-space: nowrap;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  @media (min-width: 768px) {
    & {
      columns: 2;
    }
  }

  @media (min-width: 1024px) {
    & {
      columns: 3;
    }
  }
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba($color: #575757, $alpha: 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    max-width: 90%;
    max-height: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__header-author {
    display: flex;
    align-items: center;

    &-picture {
      width: 35px;
      border-radius: 50%;
    }

    &-data {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &-name {
      font-size: 16px;
    }

    &-link {
      font-size: 10px;
      color: black;
      width: fit-content;
    }
  }

  &__header-user-actions {
    display: flex;
    flex-direction: column;

    &-icons {
      border: 1px solid #a09f9f;
      padding: 3px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 25px;
      color: $option-color;
      transition: all 0.2s ease;
      transition-property: color, border-color;

      &:hover {
        color: black;
        border-color: black;
      }
    }

    &-heart {
      margin-bottom: 10px;
    }
  }

  &__image-container {
    overflow: auto;
    margin: 30px auto;
    display: flex;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-location {
      display: flex;
      align-items: center;
      font-size: 14px;

      &-icon {
        margin-right: 10px;
      }
    }

    &-options {
      & > * {
        border-radius: 3px;
        width: 80px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #a09f9f;
        cursor: pointer;
        color: $option-color;
        transition: all 0.2s ease;
        transition-property: color, border-color;
        font-size: 14px;

        &:hover {
          color: black;
          border-color: black;
        }

        &:first-child {
          margin-bottom: 5px;
        }
      }
    }
  }

  @media (min-width: 540px) {
    &__content {
      max-width: 90%;
      max-height: 90%;
      background-color: white;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
    }

    &__header-author {
      &-picture {
        width: 55px;
      }

      &-name {
        font-size: 18px;
      }

      &-link {
        font-size: 12px;
      }
    }

    &__header-user-actions {
      flex-direction: row;
      align-items: center;

      &-icons {
        padding: 1px 10px;
        font-size: 45px;
      }

      &-heart {
        margin-bottom: 0;
        margin-right: 10px;
      }
    }

    &__footer {
      &-location {
        font-size: 18px;
      }

      &-options {
        display: flex;

        & > * {
          width: 90px;
          height: 35px;
          font-size: 16px;

          &:first-child {
            margin-right: 5px;
            margin-left: 0;
          }
        }
      }
    }
  }
}
