$default-font: "Montserrat", sans-serif;
$title-font: "Lato", sans-serif;
$input-color-result: #e2e2e2;

html {
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $default-font;
  font-weight: 600;
}

a {
  color: white;
  transition: color 0.1s ease;

  &:hover {
    color: #ccc;
  }
}

input,
label {
  border: none;
  outline: none;
}

h1 {
  font-size: 46px;

  @media (min-width: 768px) {
    font-size: 56px;
  }
}

h2 {
  font-size: 50px;

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

h3 {
  font-size: 22px;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

* {
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 22px;
  }
}

::-webkit-scrollbar {
  background-color: #ebebeb;
  border-radius: 0 3px 3px 0;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

.home {
  min-width: 100vw;
  min-height: 100vh;
  background: url("../pictures/lagoon.jpg") no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  &__wrapper {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 3px;
    margin: 0% 5% 250px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__aside {
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    &__wrapper {
      margin: 0 0 300px 0;
      width: 700px;
      background-color: transparent;
    }
  }

  @media (min-width: 1440px) {
    &__wrapper {
      width: 1000px;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    &--result {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 80%;
      padding-top: 20px;
    }
  }

  &__form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    &--result {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
    }
  }

  &__search-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    color: #5f5f5f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 0 0 3px;

    &--result {
      width: 40px;
      height: 40px;
      background-color: $input-color-result;
      color: #5f5f5f;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 45% 0 0 45%;
    }
  }

  &__search-input {
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 10px;
    font-size: 16px;

    &--result {
      width: 100%;
      height: 40px;
      padding: 10px 0 10px 10px;
      border-radius: 0 28px 28px 0;
      font-size: 16px;
      background-color: $input-color-result;
    }
  }

  &__search-erase {
    width: 50px;
    height: 50px;
    color: #5f5f5f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 0 0 3px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    &--result {
      color: #5f5f5f;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      border-radius: 0 45% 45% 0;
      bottom: 0;
    }
  }

  .found-images,
  .found-images--result {
    margin-top: 5px;
    background-color: white;
    color: black;
    position: absolute;
    top: 50px;
    width: 100%;
    border-radius: 3px;
    max-height: 250px;
    overflow: auto;
    z-index: 200;

    &--result {
      top: 60px;
      background-color: $input-color-result;
      border-radius: 10px;

      &::-webkit-scrollbar {
        background-color: #ebebeb;
        border-radius: 0 10px 10px 0;
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 5px;
      }
    }

    &__image,
    &__image--result {
      padding: 20px 25px;
      font-size: 15px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #ececec;
      }
    }

    &__error,
    &__error--result {
      margin: auto;
      padding: 0 15px;
    }
  }

  @media (min-width: 768px) {
    &__form--result {
      width: 50%;
    }
  }

  @media (min-width: 1440px) {
    &__form--result {
      width: 700px;
    }
  }
}

.result {
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;

  &__title {
    margin-top: 20px;
    font-family: $title-font;
  }

  &__related-tags {
    margin-top: 20px;
    max-width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
    display: flex;
  }

  .realted-tags-fadeout-effect {
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    z-index: 10;
    box-shadow: -30px 0 37px rgba(whitesmoke, 0.8) inset;
    -webkit-box-shadow: -30px 0 37px rgba(whitesmoke, 0.8) inset;
    -moz-box-shadow: -30px 0 37px rgba(whitesmoke, 0.8) inset;
  }

  &__related-tags-tag {
    margin: 0 5px;
    border-radius: 5px;
    min-width: 150px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    &:first-child {
      margin-left: 0;
    }
  }
}
